body {
    text-align: center;
    background-color: blue;
    color: white;
}

img.FCZlogo {
    transition: scale 0.13s;
}

img.FCZlogo:hover {
    scale: 1.5;
}

table {
    width: 100%;
}

th,
td {
    padding: 12px;
}

thead th {
    background-color: black
}

tbody tr:nth-child(odd) td {
    background-color: gray;
    color: black;
}
